<div class="cta">
  <strong>Suffering from Piles, Fissure, Fistula or Pilonidal Sinus?</strong><br>
  Get expert, painless treatment by Kshar Sutra, Kshar Karma and Rubber Band Ligation at
  <em>{{ site.clinic.name }}, {{ site.clinic.city }}</em>.<br><br>
  <a href="tel:{{ site.clinic.phone }}">📞 Call {{ site.clinic.phone }}</a> &nbsp;|&nbsp;
  <a href="https://wa.me/{{ site.clinic.whatsapp | remove: '+' | remove: '-' }}">💬 WhatsApp</a> &nbsp;|&nbsp;
  <a href="/contact/">Book Consultation</a>
</div>
